/* base for mobile */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    /* font-family: "Roboto", sans-serif; */

	/* font-family: 'Segoe UI', 'Roboto', 'Arial', sans-serif; */

    font-weight: 400;
    background-size: 100%;
    background-color: rgb(29, 29, 29);
    background-repeat: repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 130px;
    grid-column-gap: 7px;
    grid-row-gap: 7px; */
}

.heads {
    /* grid-column: 1 / 5;
    grid-row: 1 / 2; */
    color: white;
    position: relative;
    height: 210px; /* Добавьте фиксированную высоту для шапки */
    overflow: hidden; /* Обрезать лишнее содержимое */
}

.headbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.headbg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Высота градиента */
    background: linear-gradient(to top, rgba(26, 26, 26, 0.7), transparent);
    z-index: 2;
}

.headbg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Это важно - изображение будет покрывать всю область */
    object-position: center; /* Центрировать изображение */

}

.avatars {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 80px; 
    width: 97px;
    height: 97px;
    border-radius: 50%; 
    /* border: 2px solid rgb(29, 29, 29);  */
    z-index: 9; 
}
.avatars::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 101px;
	height: 101px;
	border-radius: 50%;

	background: rgba(0, 0, 0, 0.2);
  	backdrop-filter: blur(15px);
  	-webkit-backdrop-filter: blur(15px);
	z-index: 9;
}
.avatars img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover;
    z-index: 10; 
}

.userNickName {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 180px; /* Подстройте под новую высоту шапки */
    z-index: 10;
}

.burgerCont {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 11;
}

.burgerBack {
    width: 35px;
    height: 35px;
    border-radius: 50%;	

	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.055);
    position: absolute;
    right: -13px;
    top: -15px;
}

.burgerMenu {
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
}

.burgerMenu::before {
    content: '';
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -8px;
}

.burgerMenu::after {
    content: '';
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 8px;
}
.dropMenu {
    width: 150px;
    height: 100px;
    top: 25px;
    right: -13px;
    position: absolute;
	padding-top: 7px;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.055);
	border-radius: 5px;

	opacity: 0;
transform: translateY(-10px); /* Меньшее смещение */
visibility: hidden;
transition: 
    opacity 0.15s ease-out,
    transform 0.18s ease-out;
    

	 
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

	z-index: 100;
}
.dropMenu.active {
	opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.dropMenu a,
.dropMenu button {
    display: block;
    width: 100%;
    padding: 2px 12px; /* Отступы сверху/снизу и слева/справа */
    text-align: left;
    transition: background-color 0.2s ease;
}

.editBtn {
    background: none;
    border: none;


    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    /* margin-left: 7px;
	padding-left: 3px;
	padding-top: 3px;
    font-size: 17px; */
}






/* копия для эдитора */
.copyProfile {
/* height: 500px; */
	position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Высокий индекс поверх всего */
    background: rgb(29, 29, 29); /* Фон как у body */
	border-radius: 10px 10px 0 0;

	opacity: 0;
	transform: translateY(50px);
	visibility: hidden;
	transition: 
    	/* opacity 0.5s ease,
        transform 0.4s ease,
        visibility 0.4s ease; */
		opacity 0.12s ease-out,
        transform 0.18s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* visibility можно убрать - он следует за opacity */
	/* border-radius: 12px 12px 0 0; */
}
.copyProfile.active {
	display: block;
	transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


.savePanel {
	width: 100%;
	height: 50px;
	z-index: 50;
	background-color: rgb(24, 24, 24);
	position: relative;
	box-shadow: 0 -10px 10px -0px rgba(0, 0, 0, 0.555);
	border-radius: 10px 10px 0 0;
}
.save-btn {
	z-index: 50;
	color: white;
	font-size: 23px;
	margin-top: 14px;
	position: absolute;
	left: 20px;
}
.close-btn {
	z-index: 50;
	color: white;
	font-size: 23px;
	margin-top: 14px;
	position: absolute;
    right: 26px; 
}

.copyHeads {
    /* grid-column: 1 / 5;
    grid-row: 1 / 2; */
    color: white;
    position: relative;
    height: 210px; /* Добавьте фиксированную высоту для шапки */
    overflow: hidden; /* Обрезать лишнее содержимое */
	/* border-radius: 12px 12px 0 0; */
}

.copyHeadbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 13;

}

.copyHeadbg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Высота градиента */
    background: linear-gradient(to top, rgba(26, 26, 26, 0.7), transparent);
    z-index: 14;
}


.copyHeadbg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Это важно - изображение будет покрывать всю область */
    object-position: center; /* Центрировать изображение */
	

}

.copyAvatars {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 80px; 
    width: 97px;
    height: 97px;
    border-radius: 50%; 
    /* border: 2px solid rgb(29, 29, 29);  */
    z-index: 16; 
}
.copyAvatars::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 101px;
	height: 101px;
	border-radius: 50%;

	background: rgba(0, 0, 0, 0.2);
  	backdrop-filter: blur(15px);
  	-webkit-backdrop-filter: blur(15px);
	z-index: 15;
}
.copyAvatars img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover;
    z-index: 17; 
}

.copyUserNickName {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 180px; /* Подстройте под новую высоту шапки */
    z-index: 18;
}
.editorTextPanel {
	color: rgb(255, 255, 255);
	margin-left: 16px;

}
.editorTextPanel h3 {
	margin-top: 14px;
}
.editHead,
.editAvatar,
.editName { 
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	/* добавил паддинг и уменьшил маржин */
}
.editorTextPanel a {
	padding: 12px 0 12px 0 !important;
	/* уменьшил паддинг */
}





.blurtest {
	position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.514);
    backdrop-filter: blur(4.5px);
    z-index: 999;
	display: none;
    justify-content: center;
    align-items: center;
}
.blurtest.active {
	display: flex;
}


.createNick br {
    display: block; 
}

.textNickName {
 display: block;
    width: calc(100% - 32px); /* Учитываем padding родителя */
    max-width: 280px;
    margin: 8px auto 0 0; /* 8px сверху от текста, auto по бокам */
    padding: 12px 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}
.textNickName:focus {
    border-color: #ffffff25; /* Цвет границы при фокусе */
    background: rgba(255, 255, 255, 0.15); /* Немного светлее при фокусе */
}

.createNick label {
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
}


/* .postWrapper {
	background-color: rgb(53, 53, 53);
	margin-top: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;

}

.postUserAvatar {


	margin-left: 5px;


    width: 50px;
    height: 50px;
    border-radius: 50%; 
    z-index: 100; 
}

.postUserAvatar img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover;
    z-index: 100; 
}

.postUserName h4 {
	color: white;
}
.postUserName {
	margin-left: 65px;
}



.postText {
	margin-top: 20px;
	color: white;
	padding: 8px 12px;
	font-size: 16px;
} */

.postWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background: rgb(40, 40, 40); */
	background-color: rgb(29, 29, 29);
    padding: 15px;
    margin-bottom: 15px;
	border: 1.5px solid rgba(255, 255, 255, 0.055);
}

.postHeader {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	/* margin-left: 5px */
}

.postUserAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.postUserAvatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postUserName {
	 color: white;
    margin-left: 47px;
    margin-top: -46px; /* Поднимаем ник вверх */
    /* или */
    /* position: relative; */

}

.postText {
	margin-top: 30px;
    line-height: 1.5;
	color: white;
}
.postUserName h4 {
	color: white;
    font-size: 16px;
	font-weight: 300;
}

