/* base for mobile */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    /* font-family: "Roboto", sans-serif; */

	/* font-family: 'Segoe UI', 'Roboto', 'Arial', sans-serif; */

    font-weight: 400;
    background-size: 100%;
    background-color: rgb(29, 29, 29);
    background-repeat: repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 130px;
    grid-column-gap: 7px;
    grid-row-gap: 7px; */
}

.heads {
    /* grid-column: 1 / 5;
    grid-row: 1 / 2; */
    color: white;
    position: relative;
    height: 210px; /* Добавьте фиксированную высоту для шапки */
    overflow: hidden; /* Обрезать лишнее содержимое */
}

.headbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.headbg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Высота градиента */
    background: linear-gradient(to top, rgba(26, 26, 26, 0.7), transparent);
    z-index: 2;
}

.headbg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Это важно - изображение будет покрывать всю область */
    object-position: center; /* Центрировать изображение */

}

.avatars {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 80px; 
    width: 97px;
    height: 97px;
    border-radius: 50%; 
    /* border: 2px solid rgb(29, 29, 29);  */
    z-index: 9; 
}
.avatars::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 101px;
	height: 101px;
	border-radius: 50%;

	background: rgba(0, 0, 0, 0.2);
  	backdrop-filter: blur(15px);
  	-webkit-backdrop-filter: blur(15px);
	z-index: 9;
}
.avatars img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover;
    z-index: 10; 
}

.userNickName {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 180px; /* Подстройте под новую высоту шапки */
    z-index: 10;
}

.burgerCont {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 11;
}

.burgerBack {
    width: 35px;
    height: 35px;
    border-radius: 50%;	

	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.055);
    position: absolute;
    right: -13px;
    top: -15px;
}

.burgerMenu {
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
}

.burgerMenu::before {
    content: '';
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -8px;
}

.burgerMenu::after {
    content: '';
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 8px;
}
.dropMenu {
    width: 150px;
    height: 100px;
    top: 25px;
    right: -13px;
    position: absolute;
	padding-top: 7px;

    /* background-color: rgb(27, 27, 27);
    border: 1px solid rgba(255, 255, 255, 0.055);
    border-radius: 5px; */
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.055);
	border-radius: 5px;

	opacity: 0;
	transform: translateY(-20px);
	visibility: hidden;
	transition: 
    

	 /* opacity 0.1s ease-out,
        transform 0.14s cubic-bezier(0.4, 0, 0.6, 1); */
        opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);

	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

	z-index: 100;
}
.dropMenu.active {
	opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.dropMenu a,
.dropMenu button {
    display: block;
    width: 100%;
    padding: 2px 12px; /* Отступы сверху/снизу и слева/справа */
    text-align: left;
    transition: background-color 0.2s ease;
}

.editBtn {
    background: none;
    border: none;


    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    /* margin-left: 7px;
	padding-left: 3px;
	padding-top: 3px;
    font-size: 17px; */
}


.testText {
	color: white;
	padding: 8px 12px;
	font-size: 16px;
}



/* копия для эдитора */
.copyProfile {
/* height: 500px; */
	position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Высокий индекс поверх всего */
    background: rgb(29, 29, 29); /* Фон как у body */
	border-radius: 10px 10px 0 0;

	opacity: 0;
	transform: translateY(50px);
	visibility: hidden;
	transition: 
    	/* opacity 0.5s ease,
        transform 0.4s ease,
        visibility 0.4s ease; */
		opacity 0.12s ease-out,
        transform 0.18s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* visibility можно убрать - он следует за opacity */
	/* border-radius: 12px 12px 0 0; */
}
.copyProfile.active {
	display: block;
	transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


.savePanel {
	width: 100%;
	height: 40px;
	z-index: 50;
	background-color: rgb(24, 24, 24);
	position: relative;
	box-shadow: 0 -10px 10px -0px rgba(0, 0, 0, 0.555);
	border-radius: 10px 10px 0 0;
}
.close-btn {
	z-index: 50;
	color: white;
	font-size: 20px;
	margin-top: 11px;
	margin-left: 310px;
}
.save-btn {
	z-index: 50;
	color: white;
	font-size: 20px;
	margin-top: 11px;
	margin-left: 13px;
}

.copyHeads {
    /* grid-column: 1 / 5;
    grid-row: 1 / 2; */
    color: white;
    position: relative;
    height: 210px; /* Добавьте фиксированную высоту для шапки */
    overflow: hidden; /* Обрезать лишнее содержимое */
	/* border-radius: 12px 12px 0 0; */
}

.copyHeadbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 13;

}

.copyHeadbg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Высота градиента */
    background: linear-gradient(to top, rgba(26, 26, 26, 0.7), transparent);
    z-index: 14;
}


.copyHeadbg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Это важно - изображение будет покрывать всю область */
    object-position: center; /* Центрировать изображение */
	

}

.copyAvatars {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 80px; 
    width: 97px;
    height: 97px;
    border-radius: 50%; 
    /* border: 2px solid rgb(29, 29, 29);  */
    z-index: 16; 
}
.copyAvatars::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 101px;
	height: 101px;
	border-radius: 50%;

	background: rgba(0, 0, 0, 0.2);
  	backdrop-filter: blur(15px);
  	-webkit-backdrop-filter: blur(15px);
	z-index: 15;
}
.copyAvatars img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover;
    z-index: 17; 
}

.copyUserNickName {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 180px; /* Подстройте под новую высоту шапки */
    z-index: 18;
}
.editorTextPanel {
	color: rgb(255, 255, 255);
	margin-left: 16px;

}
.editorTextPanel h3 {
	margin-top: 14px;
}
.editHead,
.editAvatar,
.editName { 
	margin-top: 12px;
}
.editorTextPanel a {
	padding: 20px 0 20px 0 !important;
}

