/* bace for mobile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-size: 16px;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	background-size: 100%;
	background-color: rgb(29, 29, 29);
  	background-repeat: repeat;
  	background-attachment: fixed;
}
a {
  text-decoration: none;
  color: white;
}
.container {
	display: grid;
  	grid-template-columns: repeat(4, 1fr);
  	grid-auto-rows: 130px;
  	grid-column-gap: 7px;
  	grid-row-gap: 7px;
}
.heads {
	grid-column: 1 / 5;
	grid-row: 1 / 2;

	background:
	linear-gradient(
            rgba(0, 0, 0, 0.158), 
            rgba(0, 0, 0, 0.521)
        ),
        url(photo/ocean.jpg); 
 	background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
	

	/* border-radius:5px ; */

	color: white;

	 position: relative;

}

.avatars {
    position: absolute;
	left: 50%; 
    transform: translateX(-50%);

	top: 80px;
    width: 100px;
    height: 100px;
    border-radius: 50%; 

    background-image: url(photo/36ka.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid rgb(29, 29, 29); 
    z-index: 10; 
}
.userNickName {
	position: absolute;
	left: 50%; 
    transform: translateX(-50%);
	top: 185px;

}
.burgerCont{
	position: absolute;
    right: 20px;
    top: 30px;  
}
.burgerBack {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.137);
  	backdrop-filter: blur(15px);
  	-webkit-backdrop-filter: blur(15px);
  	/* border: 1px solid rgba(255, 255, 255, 0.055); */
	position: absolute;
	right: -13px;
	top: -15px;
}
.burgerMenu {
	background-color: white;
	width: 4.5px;
    height: 4.5px;
	border-radius: 50%;
	position: absolute;
	right: 2px;
  
}
.burgerMenu::before {
    content: '';
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -8px;
}
.burgerMenu::after {
    content: '';
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 8px;
}
.dropMenu {
	width: 115px;
	height: 170px;
	top: 20px;
	right: 3px;
	background-color: rgb(27, 27, 27);
	position: absolute;
	border: 1px solid rgba(255, 255, 255, 0.055);
	border-radius: 5px;
	z-index: 100;
	display: none;
}
.dropMenu.active {
	display: block;
}
.dropMenu a {
	padding-left: 10px;
	font-size: 16px;
}











/* .test {
	grid-column: 1 / 5; 
 	grid-row: 1 / 3; 
  	background: rgba(0, 0, 0, 0.2);
  	backdrop-filter: blur(15px);
  	-webkit-backdrop-filter: blur(15px);
  	border: 1px solid rgba(255, 255, 255, 0.055);
  	border-radius: 12px;
  	color: white;

} */