/* bace for mobile */
body {
	font-size: 16px;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	background-size: 100%;
	background-color: rgb(29, 29, 29);
  	background-repeat: repeat;
  	background-attachment: fixed;
}
a {
  text-decoration: none;
  color: white;
}
.container {
	display: grid;
  	grid-template-columns: repeat(4, 1fr);
  	grid-auto-rows: 150px;
  	grid-column-gap: 7px;
  	grid-row-gap: 7px;
}
.heads {
	grid-column: 1 / 5;
	grid-row: 1 / 2;

	background:
	linear-gradient(
            rgba(0, 0, 0, 0.158), 
            rgba(0, 0, 0, 0.521)
        ),
        url(photo/gtr34.jpg); 
 	background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
	

	border-radius:5px ;

	color: white;

	 position: relative;
}

.avatars {
    position: absolute;
	left: 50%; 
    transform: translateX(-50%);
	top: 65px;
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    background-image: url();
    background-size: cover;
    background-position: center;
    border: 3px solid rgb(29, 29, 29); 
    z-index: 10; 
}
/* .heads .avatars {
	grid-column: 1 / 5;
	grid-row: 1 / 2;

	background-color: brown;

} */












/* .test {
	grid-column: 1 / 5; 
 	grid-row: 1 / 3; 
  	background: rgba(0, 0, 0, 0.2);
  	backdrop-filter: blur(15px);
  	-webkit-backdrop-filter: blur(15px);
  	border: 1px solid rgba(255, 255, 255, 0.055);
  	border-radius: 12px;
  	color: white;

} */