/* base for mobile */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    /* font-family: "Roboto", sans-serif; */

	/* font-family: 'Segoe UI', 'Roboto', 'Arial', sans-serif; */

    font-weight: 400;
    background-size: 100%;
    background-color: rgb(29, 29, 29);
    background-repeat: repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 130px;
    grid-column-gap: 7px;
    grid-row-gap: 7px; */
}

.heads {
    /* grid-column: 1 / 5;
    grid-row: 1 / 2; */
    color: white;
    position: relative;
    height: 210px; /* Добавьте фиксированную высоту для шапки */
    overflow: hidden; /* Обрезать лишнее содержимое */
}

.headbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.headbg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Высота градиента */
    background: linear-gradient(to top, rgba(26, 26, 26, 0.7), transparent);
    z-index: 2;
}

.headbg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Это важно - изображение будет покрывать всю область */
    object-position: center; /* Центрировать изображение */

}

.avatars {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 80px; /* Подстройте под новую высоту шапки */
    width: 97px;
    height: 97px;
    border-radius: 50%; 
    background-image: url(photo/36ka.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid rgb(29, 29, 29); 
    z-index: 10; 
}

.userNickName {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 180px; /* Подстройте под новую высоту шапки */
    z-index: 10;
}

.burgerCont {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 11;
}

.burgerBack {
    width: 35px;
    height: 35px;
    border-radius: 50%;	

	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.055);
    position: absolute;
    right: -13px;
    top: -15px;
}

.burgerMenu {
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
}

.burgerMenu::before {
    content: '';
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -8px;
}

.burgerMenu::after {
    content: '';
    background-color: white;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 8px;
}

.dropMenu {
    width: 150px;
    height: 100px;
    top: 25px;
    right: -13px;
    position: absolute;
	padding-top: 7px;

    /* background-color: rgb(27, 27, 27);
    border: 1px solid rgba(255, 255, 255, 0.055);
    border-radius: 5px; */
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.055);
	border-radius: 5px;

	opacity: 0;
	transform: translateY(-20px);
	visibility: hidden;
	transition: 
    	opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s ease;
	
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

	z-index: 100;
}

.dropMenu.active {
    /* display: block; */
	opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropMenu a {
    /* padding-left: 10px;
    font-size: 17px; */
}

.dropMenu a,
.dropMenu button {
    display: block;
    width: 100%;
    padding: 2px 12px; /* Отступы сверху/снизу и слева/справа */
    text-align: left;
    transition: background-color 0.2s ease;
}

.edit-btn {
    background: none;
    border: none;


    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    /* margin-left: 7px;
	padding-left: 3px;
	padding-top: 3px;
    font-size: 17px; */
}


.testText {
	color: white;
	padding: 8px 12px;
	font-size: 16px;
}

.dropMenu.active a:nth-child(1) { transition-delay: 0.1s; }
.dropMenu.active a:nth-child(2) { transition-delay: 0.15s; }
.dropMenu.active a:nth-child(3) { transition-delay: 0.2s; }
